<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31" >
        <service
            android:name=".musicservice"
            android:enabled="true"
            android:exported="false" >
        </service>

        <activity
            android:name=".endbad"
            android:exported="false" />
        <activity
            android:name=".endgood"
            android:exported="false" />
        <activity
            android:name=".qa7"
            android:exported="false" />
        <activity
            android:name=".qa6"
            android:exported="false" />
        <activity
            android:name=".qa5"
            android:exported="false" />
        <activity
            android:name=".qa4"
            android:exported="false" />
        <activity
            android:name=".qa3"
            android:exported="false" />
        <activity
            android:name=".qa2"
            android:exported="false" />
        <activity
            android:name=".qa1"
            android:exported="false" />
        <activity
            android:name=".gamefinalstart"
            android:exported="false" />
        <activity
            android:name=".game4win"
            android:exported="false" />
        <activity
            android:name=".game4ins"
            android:exported="false" />
        <activity
            android:name=".game4iplay"
            android:exported="false" />
        <activity
            android:name=".game4start"
            android:exported="false" />
        <activity
            android:name=".game3ins"
            android:exported="false" />
        <activity
            android:name=".game3win"
            android:exported="false" />
        <activity
            android:name=".game3iplay"
            android:exported="false" />
        <activity
            android:name=".game3start"
            android:exported="false" />
        <activity
            android:name=".game2win"
            android:exported="false" />
        <activity
            android:name=".game2iplay"
            android:exported="false" />
        <activity
            android:name=".game2ins"
            android:exported="false" />
        <activity
            android:name=".game2start"
            android:exported="false" />
        <activity
            android:name=".collection4"
            android:exported="false" />
        <activity
            android:name=".collection3"
            android:exported="false" />
        <activity
            android:name=".collection2"
            android:exported="false" />
        <activity
            android:name=".collection1"
            android:exported="false" />
        <activity
            android:name=".game1fail"
            android:exported="false" />
        <activity
            android:name=".game1win"
            android:exported="false" />
        <activity
            android:name=".game1start"
            android:exported="false" />
        <activity
            android:name=".game1iplay"
            android:exported="false" />
        <activity
            android:name=".game1ins"
            android:exported="false" />
        <activity
            android:name=".gamestory7"
            android:exported="false" />
        <activity
            android:name=".gamestory6"
            android:exported="false" />
        <activity
            android:name=".gamestory5"
            android:exported="false" />
        <activity
            android:name=".gamestory4"
            android:exported="false" />
        <activity
            android:name=".gamestory3"
            android:exported="false" />
        <activity
            android:name=".gamestory2"
            android:exported="false" />
        <activity
            android:name=".gamestory"
            android:exported="false" />
        <activity
            android:name=".gameinsturction"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>